bin/
target/
output/

# eclipse ignore
.settings/
.project
.classpath

# system ignore
.DS_Store
Thumbs.db

/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/.sbtserver
/project/.sbtserver
/project/.sbtserver.lock
/project/target
/html-test-report
